<%= form_for @quiz do |f| %>
  
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <div class="field">
    <%= f.label :article_id %>
    <%= f.text_field :article_id %>
  </div>

  <div class="field">
    <%= f.label :course_id %>
    <%= f.text_field :course_id %>
  </div>

  <%= f.fields_for :questions do |builder| %>
    <%= render 'question_fields', :f => builder %>
  <% end %>

  <p><%= f.submit "Submit" %></p>
<% end %>