<% provide(:title, 'Courses') %>
<html>
    <head>
        <title>Courses</title>
    </head>
    <body>
        <h1>
            <%= @course.name%>
        </h1>
        <h4>
            <%= raw @course.introduction%>
        </h4>
        <h3>
            <%= "Wikis:" %>
        </h3><% @users.each_slice(3) do |users_slices| %>
        <ul class="users">
            <% users_slices.each do |user| %><%= render user %><% end %>
        </ul><% end %>
        <h3>
            <%= "Quizzes:" %>
        </h3><% @users.each_slice(3) do |users_slices| %>
        <ul class="users">
            <% users_slices.each do |user| %><%= render user %><% end %>
        </ul><% end %>
    </body>
</html>
