<% provide(:title, 'Courses') %>
<html>
    <head>
        <title>Courses</title>
    </head>
    <body>
        <h1>
            <%= @course.name%>
        </h1>
        <h4>
            <%= raw @course.introduction%>
        </h4>
     
        <h4>
            <br><dt><%= "Wikis:" %></dt><br><br>
            <dd><%=link_to @articles_wiki.title, :action => 'show_wikis',:controller => 'static_pages'%></dd>

            <br><dt><%= "Quizzes:" %></dt><br><br>
            <dd><%=link_to @articles_quiz.title, :action => 'show_quizzes',:controller => 'static_pages'%></dd>
        </h4>
        <h4>
        </h4>
    </body>
</html>
