
<% provide(:title, "Employee Status") %>

<h1>Employee Progress</h1>
<p>
  <ul class="users">
	<%= will_paginate @users %>  
	  <% @users.each do |user| %>
	    <li>
		<%= User.where(:id => user.user_id).pluck(:name).first %> | 
		<%= Course.where(:id => user.course_id).pluck(:name).first %> | 
		<%= user.progress %>%
		</li>
	  <% end %>  
	<%= will_paginate @users %>
</ul>
</p>