<p id="notice"><%= notice %></p>

<h1>Course Progresses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Course</th>
      <th>Progress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_progresses.each do |course_progress| %>
      <tr>
        <td><%= course_progress.user_id %></td>
        <td><%= course_progress.course_id %></td>
        <td><%= course_progress.progress %></td>
        <td><%= link_to 'Show', course_progress %></td>
        <td><%= link_to 'Edit', edit_course_progress_path(course_progress) %></td>
        <td><%= link_to 'Destroy', course_progress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Progress', new_course_progress_path %>
