<h1>Articles Search</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for search_path, method: :get do |f| %>
      <p>
        <%= f.label "Search for" %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag "Go", class: "btn btn-primary" %>
      </p>
    <% end %>

  <% @articles.each do |article| %>
      <h3>
        <li><%= link_to article.title, controller: "articles", action: "show", id: article.id%></li>
      </h3>
  <% end %>
  </div>
</div>