<% provide(:title, 'Assign user to Course') %>
<h1>Assign user to Course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user_course) do |f| %>

    	<%= render 'shared/error_messages', obj: @user_course %>

    	<%= f.label :User %>
      	<%= f.collection_select :user_id, User.order(:name),:id,:name, include_blank: true %>
      	<%= f.label :Course %>
      	<%= f.collection_select :course_id, Course.order(:name),:id,:name, include_blank: true %>

      	<%= f.submit "Assign user", class: "btn btn-primary" %>
    <% end %>

<%= link_to 'Back', courses_path %>