<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<ul class="courses">
  <%= will_paginate @courses%>  
    <% @courses.each do |course| %>
      <h4>
        <strong><%= render course%></strong>
      </h4>
    <% end %> 
  <%= will_paginate @courses%>
</ul>

<br>

<!--<%= link_to 'New Course', new_course_path %>-->
