<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<ul class="courses">
  <%= will_paginate @courses%>  
    <% @courses.each do |course| %>
      <h4> <strong><%= link_to course.name, course %> </strong></h4> <%= "group"%><%=course.group_id%>
      
          <% if current_user.manager? %>
            <%= link_to "delete", course, method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
    <% end %> 
  <%= will_paginate @courses%>
</ul>

<br>

<% if current_user.manager? %>
  <%= link_to 'Assign User', new_user_course_path %> | 
  <%= link_to 'Create Course', new_course_path %>
<% end %>
