<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<% @courses.each do |course| %>
  <h4>
    <strong><%= render course%></strong>
    <p align="right"><td><%= link_to 'Show', course %></td>  <td><%= link_to 'Edit', edit_course_path(course) %></td>  <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td></p>
  </h4>
<% end %> 

<br>

<%= link_to 'New Course', new_course_path %>
