<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<%#= bar_chart (CourseProgress.find_by_sql ["select * from course_progresses where user_id = 4 "]).count %>
<%#= bar_chart CourseProgress.group(:progress).count, library: {legend:{position: "bottom"}} %>

<%# data = [['Task', 'Course Progress'],
          ['',      100],
          ['Course1',     23],
          ['Course2',      2],
          ['Course3',  5],
          ['Course4', 8],
          ['Course5',    15]] %>

<%= @courses_count%>
<%= puts get_course_progress()%>
<%= bar_chart @td_array_progress, library: { barSliceText: 'value', height: '8000px' } %>

<ul class="courses">
  <%= will_paginate @courses%>  
    <% @courses.each do |course| %>
      <h4>
        <strong><%= render course%></strong>
        <p align="right"><td><%= link_to 'Show', course %></td>  <td><%= link_to 'Edit', edit_course_path(course) %></td>  <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td></p>
      </h4>
    <% end %> 
  <%= will_paginate @courses%>
</ul>

<br>

<%= link_to 'New Course', new_course_path %>
