<p id="notice"><%= notice %></p>
<html>
    <head>
        <title>Courses</title>
    </head>
    <body>
        <h1>
            <%= @course.name%>
        </h1>
        <h4>
            <%= raw @course.introduction%>
        </h4>

        <strong>Course:</strong><%= @course.course_id %>
        <strong>Group:</strong><%= @course.group_id %>
     
        <h4>
            <%= puts get_wiki_and_quiz(@course)%>
            <br><dt><%= "Wikis:" %></dt><br><br>
            <% @article_wikis.each do |article_wiki|%>
                <%= puts set_wiki_global_id(article_wiki.id)%>
                <dd><%=link_to article_wiki.title, :action => 'show_wikis',:controller => 'courses'%></dd>
            <% end%>

            <br><dt><%= "Quizzes:" %></dt><br><br>
            <dd><%=link_to @article_quizzes.title, :action => 'show_quizzes',:controller => 'courses'%></dd>
        </h4>
        <h4>
        </h4>
    </body>
</html>

<%# TODO: only visible to admin users %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
