<p id="notice"><%= notice %></p>
<html>
    <head>
        <title>Courses</title>
    </head>
    <body>
        <h1>
            <%= @course.name%>
        </h1>
        <h4>
            <%= raw @course.introduction%>
        </h4>

        <% @articles.each do |article| %>
        <ul>
            <%if(Score.where(["user_id = ? and article_id = ? and score > ?", @user.id, article.id, 49]).blank?) %>
                <li><%= link_to article.title, article %></li>
            <% else %>
                <li><%= link_to article.title, article %> (Completed)</li>
            <% end %>
        </ul>
        <% end %>
    </body>
</html>

<% if current_user.manager? %>
  <%= link_to 'Edit', edit_course_path(@course) %> | 
  <%= link_to 'Create Article', new_article_path %>
<% end %>
