<p id="notice"><%= notice %></p>
<html>
    <head>
        <title>Courses</title>
    </head>
    <body>
        <h1>
            <%= @course.name%>
        </h1>
        <h4>
            <%= raw @course.introduction%>
        </h4>

        <strong>Course:</strong><%= @course.course_id %>
        <strong>Group:</strong><%= @course.group_id %>
     
        <h4>
            <br><dt><%= "Wikis:" %></dt><br><br>
            <%= get_wiki_and_quiz(@course)%>

            <br><dt><%= "Quizzes:" %></dt><br><br>
        </h4>
        <h4>
        </h4>
    </body>
</html>

<%# TODO: only visible to admin users %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
